@import '../../../styles/variables.module.scss';
@import '../../../styles/mixins.module.scss';

.titleBlock {
    @include flex(space-between, row);
    position: absolute;
    top: 0;
    left: 42%;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    gap: 1rem;
    opacity: 0.3;

    .orangeText {
        color: $orange;
    }
}