@import '../../../../styles/variables.module.scss';

.widgetContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    gap: 3rem;

    p {
        color: white;
        text-align: left;
        margin: -1rem auto;
    }
}