@import '../../styles/mixins.module.scss';
@import '../../styles/variables.module.scss';

.footer {
    @include flex(space-between, row);

    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%;
    gap: 2rem;
    background-color: $black-bg;
    border-radius: 0 0 $b-radius $b-radius;
    max-height: 50vh;
    padding-right: 1rem;
    border-top: 1px black solid;
}