@import '../../styles/variables.module.scss';

.cardContainer {
    width: 80%;
    margin: 4rem auto;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.4);
    min-height: 90vh;

    div {
      padding: 0 !important;
    }

    .imgContainer {
        position: absolute;
        right: 3rem;
        height: 65%;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
    }
}